{{#each authors}}
<div>
  <div class='col-xs-2'>
    <img src="{{this.portrait_url}}">
  <div class='col-xs-10'>
    <h4>{{this.first_name}}{{this.last_name}}</h4>
    {{this.biography}}
  </div>
</div>
</div>
{{/each}}
