<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img id="glogo" src="http://www.galvanize.com/wp-content/themes/galvanize/img/galvanize-g.svg">
    <h1 id='bannertext'>Galvanize Reads</h1>
    {{{body}}}
  </body>
</html>
