<form id='new-author' action="" method="post">
  <input type='text' name='author_first' placeholder="First Name">
  <input type="text" name="author_last" placeholder="Last Name">
  <input  type="text" name='biography' placeholder="biography">
  <input type='text' name='portraitUrl', placeholder="">
  <button type='submit' name='submit-new-author'>Submit</button>
</form>
