<form id='new-book' action="" method="post">
  <input type='text' name='book_title' placeholder="Book title">
  <input type="text" name="book_genre" placeholder="Book Genre">
  <input  type="text" name='cover_img' placeholder="Cover Image URL">
  <input type='text' name='book_description', placeholder="Description">
  <button type='submit' name='submit_book'>Add Book</button>
</form>
